.news-detail {
	padding-top: 25px;
	padding-bottom: 25px;
	&:after {
		display: table;
		content: '';
		clear: both;
	}
	&:before {
		display: table;
		content: '';
		clear: both;
	}
}

.news-detail__date {
	display: inline-block;
	padding: 4px 20px;
	background-color: $color-yellow;
	margin-bottom: 25px;
}

.news-detail__text {
	color: #313131;
	font-size: 16px;
	line-height: 24px;
}

.news-detail__subtitle {
	font-size: 26px;
	margin-top: 30px;
	margin-bottom: 15px;
	&:nth-child(1) {
		margin-top: 0;
	}
}

.news-detail__list {
	list-style: none;
	padding: 0;
	font-family: $font-family-primary;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #313131;
}

.news-detail__list-item {
	padding: 15px;
	background-color: #fff;
	&:nth-child(even) {
		background-color: #eeeeee;
	}
}

.news-detail__image {
	max-width: 350px;
	float: right;
	margin-left: 15px;
	margin-bottom: 15px;
}

@media only screen and (max-width: 900px) {
	.news-detail__image {
		display: block;
		float: none;
		margin: 0 auto 25px;
		width: 100%;
		height: auto;
	}
	.news-detail__date {
		display: block;
		width: 110px;
		margin: 0 auto 25px;
		text-align: center;
	}	
}