.image {
	display: block;
	max-width: 100%;
	border: none;
	user-select: none;
}

.image_mr {
	margin-right: 40px;
}

.image_ml {
	margin-left: 40px;
}

.image_mt {
	margin-top: 40px;
}

.image_mb {
	margin-bottom: 40px;
}