.list {
	display: block;
	margin: 0;
	padding: 15px 0 15px 18px;
	list-style-type: square;
}

.list__item {
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 7px;
}

.list__link {
	color: #4ea5e0;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}