$color-blue: #2865a9;
$color-light-blue: #3498db;
$color-black: #2a2a2b;
$color-gray: #f1f1f1;
$color-light-gray: #eef0f0;
$color-yellow: #f1c40f;
$color-dark-yellow: #c9a101;
$color-white: #fff;
$color-dark-white: #f7f7f7;
$color-red: #c50e29;
$color-light-red: #c50e29;
$color-green: #7ecb20;
$color-light-green: #7ecb20;

$font-color-black: #313132;
$font-color-blue: #2865a9;
$font-color-white: #fff;
$font-color-yellow: #f39c12;
$font-color-light-blue: #3498db;

$link-color-dark: #ffffff;
$link-color-light: #313132;
$link-color-blue: #3a79fa;

$font-family-primary: 'Fira Sans', 'Arial', sans-serif;

$font-weight-text: 400;
$font-weight-title: 600;
$font-weight-subtitle: 400;

$font-size-base: 15px;
$font-size-title: 3.266666666666667em;
$font-size-subtitle: 1.533333333333333em;
$font-size-button: 1.2rem;

