.breadcrumbs {
	padding-top: 15px;
	padding-bottom: 15px;
}

.breadcrumbs__link {

}

.breadcrumbs__separator {
	margin-left: 10px;
	margin-right: 10px;
	&:before {
		display: inline-block;
    	content: '\203A';
    	color: #333333;
    	font-weight: 300;
    	font-size: 1.066666666666667rem;
	}
}