.subscribe {
  text-align: center;
}

.subscribe__image-box {
  padding-bottom: 25px;
  padding-left: 25px;
}

.subscribe__image {
  width: 100%;
  height: auto;
}

.subscribe__text {
  font-family: $font-family-primary;
  font-size: 1.266666666666667rem;
  font-weight: 300;
  font-style: italic;
  padding-bottom: 25px;
}

.subscribe__button {
  width: 220px;
}
