.navbar {
	margin: 0;
	padding: 0;
}

.navbar__item {
  
}

.navbar__item_actived {
  
}

.navbar__link {
	cursor: pointer;
	text-decoration: none;
}

.navbar__sublist {
	margin: 0;
	padding: 0;	
}

.navbar__sublink {
	cursor: pointer;
  	text-decoration: none;
}

.navbar__sublink_active {

}

