.news-list {
	padding-top: 25px;
	padding-bottom: 25px;
}

.news-list__item {
	margin-bottom: 25px;
	padding-bottom: 25px;
}

.news-list__image {
	height: 250px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
}

.news-list__title {
	margin: 0;
	font-weight: 500;
	font-size: 1.5rem;
	padding-top: 15px;
}

.news-list__text {
	margin: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	line-height: 1.5em;
}

.news-list__link {
	display: inline-block;
	padding: 10px;
	border: 1px solid #2865A9;
	color: #2865A9;
	text-decoration: none;
	&:hover {
		border-color: #3498DB;
		color: #3498DB;
	}
}