.article {
	
}

.article_theme_dark {
	color: #fefefe;
}

.article_theme_light {
	color: #000;
}

.article__title {
	font-family: $font-family-primary;
	font-weight: 500;
	font-size: 1.666666666666667rem;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.article__text {
	font-family: $font-family-primary;
	font-weight: 300;
	font-size: 1.133333333333333rem;
	line-height: 1.470588235294118em;
	margin-bottom: 30px;
}

.article__image {
	display: none;
	margin: 0 auto;
	max-width: 90%;
	height: auto;
	padding-bottom: 40px;
}

@media only screen and (max-width: 900px) {
	.article__title {
		text-align: center;
	}
	
	.article__image {
		display: block;
	}
}