.price-category {
	position: relative;
}

.price-category_actived {
	position: fixed;
	width: 350px;
	top: 10px;
}

.price-category_actived-bottom {
	position: absolute;
	width: 350px;
	bottom: 50px;
}

.price-category__item {
	position: relative;
	margin-bottom: 3px;	
}

.price-category__link {
	display: block;
	padding: 15px 15px 15px 30px;
	border-left: 15px solid #3f4041;
	background-color: #4a4b4c;
	color: #fff;
	text-decoration: none;
	font-weight: 300;
	line-height: 1.5em;
	&:hover {
		background-color: #3498db;
		border-left-color: #2980b9;
	} 
}

.price-category__link_actived {
	background-color: #3498db;
	border-left-color: #2980b9;
}